html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.loader1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  /* background-color: #fdc9ff; */
}

.loader1 > div {
  border: 5px solid red;
  width: 4rem;
  height: 4rem;
  border-top: 5px solid white;
  border-radius: 50%;
  animation: spinner 2s linear infinite;
  animation-direction: alternate;
}
@keyframes spinner {
    from{
        transform:  rotate(0);
    }
    to{
       transform:  rotate(360deg);
    }
}